 *{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-family: font-family: 'Lumanosimo', cursive;
 }

.top-slider a {

text-decoration: none;
color: #f88ff9;
font-size: 1.125rem;
}

.top-slider ul li{
    display: inline-block;
  justify-content: center;
}

.bg-image{
  height: 150vh;
  width: 100vw;
  position: relative;
  background-image: url('../img/couple-g77b498264_1280.jpg');
  background-size: cover;
}

.text-overlay{
  width: 100%;
  height: 100%;
  font-size: 48px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
}